html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
    line-height: 1.4;
    padding: 0;
    background: #E6E0F8;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1500px;
    background: #E6E0F8;
}

.footer{
    display: block;
    text-align: center;
    background-color: #270202;
    padding: 2em 0 2em;
    color: #454251;
    font-size: 14px;
}

/*---------- Sobre ----------*/

.sobre{
    max-width:1000px;
    margin:50px auto 0;
}

.sobre-desc{
    background:white;
    padding:50px;
    border-radius:18px;
    border:3px solid #d8d8ea;
    transition:.25s;
}

.sobre-desc:hover{
    border-color:#8ec45f;
    box-shadow:0 0 30px rgba(142,196,95,.15);
}

.sobre h3{
    color: #8ec45f;
    font-size: 1.4em;
    font-weight: 800;
    padding: 20px 20px;
    font-family: 'Press Start 2P', sans-serif;
    text-transform: uppercase;
}
.sobre p{
    font-weight: bold;
    color: #222;
    padding: 0 10px 15px 10px;
    display: block;
    box-sizing: border-box;
}

.sobre-desc a {
    color: #8ec45f;
    font-weight: 800;
    text-decoration: none;
}

.tab{
    display: inline-block;
    margin-left: 1.5em;
}

@keyframes animate{
    from{
        width: 0;
    }
}

/*---------- Medias ----------*/

@media screen and (min-width: 375px){
    
}

@media screen and (min-width: 411px){
   
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 800px){
  
    .sobre h3{
    font-size: 2em;
    padding: 0px 10px 15px 1em;
    text-align: left;
    }
}

@media screen and (min-width: 1280px){
    body{
        display: grid;
        grid-template-areas: "header header header"
        "container container container";
        grid-template-columns: auto auto auto;
        grid-template-rows: 10vh 90vh;
    }
    .teste{
        grid-area: container;
        display: grid;
        grid-template-rows: 2fr;
        grid-template-columns: 1fr;
        align-items: center;
    }
    
    .sobre{
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        align-items: center;
        align-content: center;
        padding: 0 0 0 0;
    }
    
    .sobre-desc{
        display: block;
        box-sizing: border-box;
    }
    
    .footer{
        width: 100%;
        box-sizing: border-box;
}

.footer p{
    display: block;
    box-sizing: border-box;
    }    
}

@media screen and (min-width: 1366px){
    
}

@media screen and (min-width: 1600px){
    
}

@media screen and (min-width: 1920px){

    .container{
    max-width: 1600px;
    }
    
}

@media screen and (min-width: 2560px){

}

#age {
    color: black;
}